# links for source and privacy
privacyPolicy = "https://blog.lucmsilva.com/posts/lynx-privacy-policy"
botSource = "https://github.com/ABOCN/TwilightSparkle"

# insert token here
botToken = ""

# misc (do not include @ on fatherBotUser!)
maxRetries = 9999
isChild = true
fatherBot = "Kowalski"
fatherBotUser = "KowalskiNodeBot"